.cardStar {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;

  width: max-content;
  padding: 10px 19px;

  background-color: var(--color-dark-900);
  border-bottom: 1px solid var(--color-dark-500);

  &Wrapper {
    display: flex;
    align-items: center;
    padding: 0 5px;
  }
}
