.Checkbox {
  display: inline-flex;
  box-sizing: border-box;

  &Root {
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    padding: 0;

    border: transparent;
  }
}

.CheckIcon {
  color: black;
}
