.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 36px;
  height: 36px;

  border-radius: 100%;

  &Conteiner {
    display: flex;
    align-items: center;
  }

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus-within {
    background-color: var(--color-dark-100);
  }

  &Root {
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 18px;
    height: 18px;
    padding: 0;

    background-color: inherit;
    border: none;
    outline: 0;
  }

  &Indicator {
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      background-color: var(--color-dark-100);
    }
  }
}
