.Avatar {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 14px;
  align-items: center;

  min-width: max-content;

  &Wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    padding-right: 28px;
  }

  &Name {
    border-bottom: 1px dashed white;
  }

  &Email {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-s);
    color: var(--color-dark-100);
  }

  &Image {
    cursor: pointer;

    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: inherit;
  }

  &Root {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    max-width: 36px;
    max-height: 36px;

    vertical-align: middle;

    background-color: var(--color-dark-900);
    border-radius: 100%;
  }

  &Fallback {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 2px;

    font-size: 15px;
    font-weight: 500;
    line-height: 1;
  }
}
