.modal {
  position: relative;
  display: inline-flex;
  flex-direction: column;

  &Icon {
    display: inline-flex;
    width: max-content;
    padding: 4px 15px;
  }

  &Wrapper {
    position: absolute;
    top: 100%;
    right: 3px;

    display: inline-flex;
    flex-direction: column;

    padding: 8px;
  }

  &List {
    position: relative;

    display: inline-flex;
    flex-direction: column;
    gap: 12px;

    padding: 12px;

    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-500);
    border-radius: 4px;

    &::before,
    &::after {
      content: '';

      position: absolute;
      right: 12px;
      bottom: 100%;

      border: 10px solid transparent;
      border-bottom: 10px solid var(--color-dark-500);
    }

    &::after {
      top: -19px;
      border-bottom: 10px solid var(--color-dark-700);
    }

    &Item {
      cursor: pointer;

      display: inline-flex;
      gap: 6px;

      width: 100%;
      padding-bottom: 12px;

      border-bottom: 1px solid var(--color-dark-500);

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
}
