.user {
  display: flex;
  gap: 14px;
  align-items: center;
  background-color: var(--color-dark-900);

  &__text {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-m);
    color: var(--color-light-100);

    border-bottom: 1px dashed white;
  }

  &__imgWrapper {
    width: 36px;
    height: 36px;
    background-color: #1ea7fd;
    border-radius: 50%;
  }
}

p{
  margin: 0;
}