.header {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 60px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1280px;
    padding: 0 136px;

    background-color: var(--color-dark-700);
  }

  &__logo {
    display: flex;
  }
}
