.header {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: var(--color-dark-900);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1280px;
    padding: 12px 136px;
  }

  &__logo {
    display: flex;

  }
}
